.landing-page {
    padding: 0;
    height: calc(100vh - 50px);
    background-color: blue;
    background-image: url('https://picsum.photos/id/1015/1800/1200');
    background-size: cover;
    background-position: center;
}

.landing-page .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.landing-page-shadow {
    background-color: rgba(0,0,0, .3);
    width: 100%;
    height: 100%;
    color: white;
}

.landing-page-text {
    width: 92%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-page-btn {
    width: 100px;
    padding: 8px 10px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: none;
    cursor: pointer;
}

.landing-page-btn:hover {
    background-color: white;
    color: black;
}

.kontakt {
    cursor: not-allowed;
}