.offer {
    background-color: #405D78;
}

.offer h1 {
    color: #FFFFFF;
    margin-bottom: 80px;
}

.offer-box-wrapper {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.offer-box {
    position: relative;
    width: 100%;
    margin-right: 4%;
    margin-bottom: 4%;
    padding-bottom: 100%;
    flex-shrink: 0;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
}

.offer-box:hover {
    transform: scale(1.05);
}



.offer-box-content {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

.offer-box-content-new {
    font-size: 14px;
}

.offer-box-content-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    border-radius: 50%;
    background-color: #E07A64;
}

@media screen and (min-width: 1024px) {

    .offer-box-wrapper {
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .offer-box {
        width: 31%;
        margin-right: 3.5%;
        margin-bottom: 3.5%;
        padding-bottom: 31%;
    }

    .offer-box:nth-of-type(3n) {
        margin-right: 0;
    }

    .offer-box:nth-child(n+4) {
        margin-bottom: 0;
    }
}