.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .container > h1 {
    margin-bottom: 50px;
}

.about-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}



.about-employee-img1 {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background-image: url('https://www.dropbox.com/s/cvi6hpik8asp7ep/jerry.png?dl=1');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.about-employee-img2 {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background-image: url("https://www.dropbox.com/s/kkt17kozxdbjn2c/Tom.png?dl=1");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.about-employee-text p {
    text-align: justify;
}


@media screen and (min-width: 1024px) {

    .about .container > h1 {
        margin-bottom: 80px;
    }

    .about-employee {
        flex-direction: row;
    }

    .about-employee:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .about-employee:last-of-type {
        margin-bottom: 0;
    }

    .about-employee-img1 {
        margin-right: 50px;
        margin-bottom: 0;
    }

    .about-employee-img2 {
        margin-left: 50px;
        margin-bottom: 0;
    }

    .about-employee:nth-of-type(even) .about-employee-img2 {
        margin-right: 0;
        margin-left: 50px;
    }
}





