footer {

    width: 100%;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 21px;

}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.footer-container-end-credits {
    font-weight: bold;   
    font-size: 9px;
    text-align: justify;
    margin-bottom: 12px;
}

.footer-container-social-ref i {
    padding: 2px 2px;
    color: white;
}


@media screen and (min-width: 1024px) {

    footer {
        font-size: 40px;
    }

    footer .container {
        flex-direction: row;
        height: 50px; 
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .footer-container-end-credits {
        font-size: 18px;
        margin-bottom: 0;
    }

    .footer-container-social-ref i {
        padding: 5px 5px;
    }
}