* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f1f1f1;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  width: 92%;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.h1-dark {
  color: #152D41;
};


@media screen and (min-width: 1024px) {
  .container {
      width: 960px;
  }






}