nav {
    height: 50px;
    width: 100%;
    background-color: #4e4e4e;
    font-size: 18px;
    color: #FFFFFF;
    position: fixed;
    z-index: 2;
}

nav .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
    color: #f1f1f1;
    text-decoration: none;
}

nav .container a {
    color: #f1f1f1;
    text-decoration: none;
}

nav .container .my-name {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    display: none;
}

@media screen and (min-width: 1024px) {

    .nav-links {
        display: initial;
        margin-left: 50px;
    }

    .nav-links a {
        margin-left: 50px;
    }

}